<md-card class="md-whiteframe-3dp" id="{{vm.addon.name}}" ng-style="vm.addon.isBroken && {'background-color': 'rgba(255,128,0,0.5)'}"  ng-cloak>

  <md-card-header style="padding: 16px 0 0 16px;">
    <md-card-header-text style="display: flex; flex-direction: row;">
      <span class="md-headlines" style="font-weight: bold;">
        {{ ::vm.addon.shortname }}
      </span>
      <span class="md-subhead" style="line-height: initial; margin-left: 10px; font-size: 0.9em;">
        {{::vm.addon.author}}
      </span>
    </md-card-header-text>
  </md-card-header>

  <md-card-title style="padding: 0 0 0 16px; height: 20px;">
    <md-card-title-text style="flex-direction: row; font-size: 0.9em;">
      <span class="md-subhead" style="padding-top: 0; font-size: 0.9em">
        {{::vm.addon.fileVersion}} <span style="margin-left: 10px;"> - {{::vm.addon.dateParsed}}</span>
      </span>
      <span ng-switch="vm.addon.isInstalled" class="md-subhead" style="padding-top: 0; font-size: 0.9em; margin-left: 10px;">
        <span ng-switch-when="true">Installed: {{ vm.addon.installedFileVersion }}</span>
        <span ng-switch-default>&nbsp;</span>
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-menu ng-if="getAddonList(vm.addon).length > 1" style="position: relative; top: -30px; left: 45px; height: 1px;">
    <md-button aria-label="addondropdown" class="md-icon-button" ng-click="openDropdownMenu($mdOpenMenu, $event)">
      <md-tooltip md-direction="bottom" style="font-size: 14px;">{{::directiveAddonList.length}} versions to select</md-tooltip>
      <img ng-src="{{ ::vm.photo.dropdn }}" ng-style="vm.photo.style">
    </md-button>
    <md-menu-content width="6">
      <md-menu-item ng-repeat="item in directiveAddonList">
        <md-button ng-click="selectDropdown( item )">
          {{::item.name}} - {{::item.fileVersion}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <md-card-content style="margin-top: 5px; padding: 0 0 0 16px;">
    <p ng-switch="vm.showFullDesc" data-ng-click="vm.toggleDescription(vm.addon)" style="font-size: 0.9em; outline: 0px solid transparent;">
      <span ng-switch-when="true" style="white-space: pre-line;">{{ ::vm.getDescription(vm.addon) }}</span>
      <span ng-switch-default style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block;">
        {{ ::vm.getDescription(vm.addon) }}
      </span>
    </p>
  </md-card-content>

  <md-progress-circular md-mode="indeterminate" md-diameter="32" data-ng-show="vm.addon.isDownloading" style="display: inline; left: 220px; margin-bottom: -32px;"></md-progress-circular>

  <md-card-actions style="display: flex; justify-content: flex-end;">
      <md-button data-ng-click="vm.openWebsite(vm.addon);" aria-label="github">
        <img ng-src="{{ vm.photo.github }}" ng-style="vm.photo.style" alt="github">
      </md-button>
      <md-button data-ng-if="vm.addon.existTwitterAccount" data-ng-click="vm.openTwitter(vm.addon);" aria-label="twitter">
         <img ng-src="{{ vm.photo.twitter }}" ng-style="vm.photo.style" alt="twitter">
      </md-button>
      <md-button data-ng-click="vm.install(vm.addon);" aria-label="download" data-ng-class="{'md-warn': vm.addon.failedInstall}" data-ng-show="!vm.addon.isDownloading && !vm.addon.isInstalled && !vm.addon.isBroken">
        <md-tooltip md-direction="bottom" style="font-size: 14px;">
          {{ 'ADDONS.INSTALL' | translate }}
        </md-tooltip>
        <img ng-src="{{ vm.buttons.download }}" ng-style="vm.buttons.style" alt="download">
      </md-button>
      <md-button data-ng-click="vm.update(vm.addon);" data-ng-show="vm.addon.isUpdateAvailable && vm.addon.isInstalled && !vm.addon.isBroken">
        <md-tooltip md-direction="bottom" style="font-size: 14px;">
          {{ 'ADDONS.UPDATE' | translate }}
        </md-tooltip>
        <img ng-src="{{ vm.buttons.update }}" ng-style="vm.buttons.style" alt="uninstall">
      </md-button>
      <md-button data-ng-click="vm.uninstall(vm.addon);" aria-label="uninstall" data-ng-show="vm.addon.isInstalled && !vm.addon.failedInstall">
        <md-tooltip md-direction="bottom" style="font-size: 14px;">
          {{ 'ADDONS.UNINSTALL' | translate }}
        </md-tooltip>
        <img ng-src="{{ vm.buttons.uninstall }}" ng-style="vm.buttons.style" alt="uninstall">
      </md-button>

      <md-button aria-label="more" data-ng-click="vm.changeToBig(vm.addon);" ng-if="!vm.addon.isBroken" style="margin-left: auto;">
        <md-tooltip md-direction="bottom" style="font-size: 14px;">
          More
        </md-tooltip>
        <img ng-src="{{ vm.buttons.more }}" ng-style="vm.buttons.style" alt="more">
      </md-button>
      <md-button	aria-label="broken" ng-if="vm.addon.isBroken" style="margin-left: auto;">
        <md-tooltip md-direction="bottom" style="font-size: 14px;">
          This addon has been reported as broken, and is not available for download.<br/>
          Please contact the addon author.
        </md-tooltip>
        <img ng-src="{{ vm.buttons.notification }}" ng-style="vm.buttons.style" alt="broken">
      </md-button>
  </md-card-actions>

  <md-card-footer style="padding: 0; margin-left: 16px;">
    <div data-ng-show="vm.addon.failedInstall"><p class="error">Failed to install addon. Please contact <a href data-ng-click="vm.openIssues(vm.addon);">{{::vm.addon.author}}</a>.</p></div>
    <div data-ng-show="vm.addon.uninstallError"><p class="error">Could not uninstall addon. Make sure the game is closed and then try again.</p></div>
  </md-card-footer>

</md-card>
